In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import re
import time

In [2]:
# Set Executable Path & Initialize Chrome Browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Visit the NASA Mars News Site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
# Create dictionary to store items
mars={}

In [6]:
# Parse Results HTML with BeautifulSoup
# Find Everything Inside:
# Find the first title and the paragraph of the first title
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

quotes = soup.find_all('div', class_='content_title')
body = soup.find('div', class_='article_teaser_body')
print(quotes[1].text)
print(body.text)

Three New Views of Mars' Moon Phobos
Taken with the infrared camera aboard NASA's Odyssey orbiter, they reveal temperature variations on the small moon as it drifts into and out of Mars’ shadow.

In [13]:
# Store the title and paragraph as new_title and news_p
new_title = quotes[1].text
news_p = bod.text

In [14]:
# Add new_title and news_p to mars dictionary
mars["new_title"]=new_title
mars["news_p"]=news_p

In [15]:
# Close the brower
browser.quit()

In [9]:
# Set Executable Path & Initialize Chrome Browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [10]:
# Visit the JPL Mars News Site
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [11]:
# Browse and click on "full image"
browser.find_by_id("full_image").click()

In [12]:
# Browse and click on "more info"
browser.find_link_by_partial_text("more info").click()

C:\Users\amitp\Anaconda3\envs\PythonData\lib\site-packages\splinter\driver\webdriver\__init__.py:525: FutureWarning: browser.find_link_by_partial_text is deprecated. Use browser.links.find_by_partial_text instead.
  warnings.warn(

In [13]:
# Parse Results HTML with BeautifulSoup
# Find Everything Inside:
# Find the image
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

quotes = soup.find('figure', class_='lede')

print(quotes)

<figure class="lede">
<a href="/spaceimages/images/largesize/PIA19113_hires.jpg"><img alt="These small spherules on the Martian surface are near Fram Crater, visited by NASA's Mars Exploration Rover Opportunity during April 2004. The area shown is 1.2 inches (3 centimeters) across." class="main_image" src="/spaceimages/images/largesize/PIA19113_hires.jpg" title="These small spherules on the Martian surface are near Fram Crater, visited by NASA's Mars Exploration Rover Opportunity during April 2004. The area shown is 1.2 inches (3 centimeters) across."/></a>
</figure>

In [14]:
# Print htag
print(quotes.a)

<a href="/spaceimages/images/largesize/PIA19113_hires.jpg"><img alt="These small spherules on the Martian surface are near Fram Crater, visited by NASA's Mars Exploration Rover Opportunity during April 2004. The area shown is 1.2 inches (3 centimeters) across." class="main_image" src="/spaceimages/images/largesize/PIA19113_hires.jpg" title="These small spherules on the Martian surface are near Fram Crater, visited by NASA's Mars Exploration Rover Opportunity during April 2004. The area shown is 1.2 inches (3 centimeters) across."/></a>

In [15]:
# Print image
print(quotes.a.img)

<img alt="These small spherules on the Martian surface are near Fram Crater, visited by NASA's Mars Exploration Rover Opportunity during April 2004. The area shown is 1.2 inches (3 centimeters) across." class="main_image" src="/spaceimages/images/largesize/PIA19113_hires.jpg" title="These small spherules on the Martian surface are near Fram Crater, visited by NASA's Mars Exploration Rover Opportunity during April 2004. The area shown is 1.2 inches (3 centimeters) across."/>

In [16]:
# Print image jpg
print(quotes.a.img["src"])

/spaceimages/images/largesize/PIA19113_hires.jpg

In [17]:
# Retrieve background-image url from style tag
featured_image="https://www.jpl.nasa.gov"+quotes.a.img["src"]

In [18]:
# Dictionary entry from FEATURED IMAGE
mars["featured_image"]= featured_image

In [19]:
# Close the brower
browser.quit()

In [20]:
# Set Executable Path & Initialize Chrome Browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [21]:
# Visit Mars Weather Twitter through splinter module
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)
time.sleep(2)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [22]:
# Retrieve all elements that contain news title in the specified range
# Look for entries that display weather related words to exclude non weather related tweets 
twitter_text= re.compile(r'sol')
weather=soup.find('span', text=twitter_text).text
print(weather)

InSight sol 542 (2020-06-05) low -92.2ºC (-134.0ºF) high 0.0ºC (32.0ºF)
winds from the SW at 5.2 m/s (11.6 mph) gusting to 18.3 m/s (41.0 mph)
pressure at 7.30 hPa

In [23]:
# Dictionary entry from twitter
mars["weather"]=weather

In [24]:
# Close the brower
browser.quit()

In [25]:
# Set Executable Path & Initialize Chrome Browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [26]:
# HTML Object 
# Parse HTML with Beautiful Soup
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [27]:
# Visit Mars Weather Twitter through splinter module
url = 'https://space-facts.com/mars/'
browser.visit(url)

In [28]:
# Use Panda's `read_html` to parse the url
facts_of_planet = pd.read_html(url)
facts_of_planet

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [29]:
# Find the facts abbreviations DataFrame in the list of DataFrames as assign it to `df`
# Assign the columns `['Profile', 'Value']`
df = facts_of_planet[0]
df.columns = ['Profile', 'Values']
df.head()

                Profile                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [30]:
# Export dataframe to HTML
file_html= df.to_html(index=False)

In [31]:
#Show table
file_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>Profile</th>\n      <th>Values</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [32]:
# Clean up data and replace '\n' with ''
file_html.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th>Profile</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [33]:
# Export file to HTML
with open('outputfile.html', 'w') as df:
    df.write(file_html)

In [34]:
# Close the brower
browser.quit()

In [35]:
# Set Executable Path & Initialize Chrome Browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [36]:
# Visit the Mars hemisphere Site
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [37]:
# Store images in a dictionary
hemisphere_image_urls = []

In [38]:
hemispheres_links= browser.find_by_css("a.product-item h3")
hemispheres_links

In [39]:
# Loop through the items previously stored
for i in range(len(hemispheres_links)):
    hemispheres={}
    
    # Find Element on Each Loop to Avoid a Stale Element Exception
    browser.find_by_css("a.product-item h3")[i].click()
    
    # Find Sample Image Anchor Tag & Extract <href>
    sample_element=browser.find_link_by_text('Sample').first
    hemispheres["img_url"]=sample_element['href']
    
    # Get Hemisphere Title
    hemispheres["title"]=browser.find_by_css("h2.title").text
    
    # Append Hemisphere Object to List
    hemisphere_image_urls.append(hemispheres)
    
    # Navigate Backwards
    browser.back()

C:\Users\amitp\Anaconda3\envs\PythonData\lib\site-packages\splinter\driver\webdriver\__init__.py:533: FutureWarning: browser.find_link_by_text is deprecated. Use browser.links.find_by_text instead.
  warnings.warn(

In [40]:
hemisphere_image_urls

[{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [41]:
# Dictionary entry from hemispheres website
mars["hemispheres"]=hemisphere_image_urls

In [42]:
mars

{'new_title': "The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover",
 'news_p': 'Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.',
 'featured_image': 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19113_hires.jpg',
 'weather': 'InSight sol 542 (2020-06-05) low -92.2ºC (-134.0ºF) high 0.0ºC (32.0ºF)\nwinds from the SW at 5.2 m/s (11.6 mph) gusting to 18.3 m/s (41.0 mph)\npressure at 7.30 hPa',
 'hemispheres': [{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
   'title': 'Cerberus Hemisphere Enhanced'},
  {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
   'title': 'Schiaparelli Hemisphere Enhanced'},
  {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
   'title': 'Syrtis Major Hemisphere Enhanced'},
  {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
   'title': 'Valles Marineris Hemisphere Enhanced'}]}

In [43]:
# Close the brower
browser.quit()